.pio/
crowpanel-display/.pio/
crowpanel-display/.platformio/
previous/
*.zip
*.rar
librariesAdvance7.0/
# Ignore bulky reference material and editor exports
Hardware Docs/
lvgl-design/
crowpanel-display/lv_port_linux/
gt911.txt
